@import './_colors.scss';

* {
  all: unset;
}

%label {
  all: unset;
  font-size: 2em;
  font-family: 'Consolas';
}

label {
  @extend %label;
}

%card {
  background-color: $bg;
  border-radius: 2em;
  padding: 3px 1em;
}

.card {
  @extend %card;
}

tooltip {
  @extend %card;
  font-size: 0.6em;
}

.clock {
  .colon {
    color: $primary;
  }
}

.battery {
  .percentage {
    font-size: 1.5em;
  }
}

// Font glyph widths somehow doesnt render correctly for the wifi and nix icons
.network,
.menu {

  label,
  button {
    margin-right: 0.4em
  }
}
.config_menu {
  label {
    margin-right: 0.2em
  }
}
.powermenu {
  @extend %card;

  button {
    &:hover {
      color: $primary;
    }
    &:active, &:focus {
      color: $tertiary;
    }
  }

  .shutdown {
    &:hover, &:focus {
      color: $err;
    }
  }
}

.workspaces {
  .active {
    color: $primary;
  }

  button {
    &:hover {
      color: $tertiary;
    }
  }
}

.calen {
  .calendar {
    font-size: 4em;
  }
}

.metric scale trough {
  all: unset;
  background-color: $secondary;
  border-radius: 50px;
  min-height: 10px;
  min-width: 75px;

  border-style: solid;
  border-color: transparent;
  border-width: 3px;
  &:focus {
    border-color: $primary;
  }
}

.metric scale trough highlight {
  all: unset;
  background-color: $primary;
  color: $neutral;
  border-radius: 10px;
}

.config {
  label.percent {
    font-size: 1.5em;
  }
}

.music {
  .player-title {
    font-size: 1.5em;
  }
  .player-status, button {
    font-size: 1.4em;
  }
}
